<h1 class='mb-4'>Shopping Basket</h1>
{{#if data}}
  {{#each data}}
    <div data-id={{product_id}} class='basket-product-card'>
      <img src={{image_url}} alt='' />
      <div class='product-info'>
        <div>
        <h4>{{name}}</h4>
        <i>Quantity in stock: {{quantity_in_stock}}</i>
        </div>
        <div class="order-controls">
        <p>Quantity: <input type="number" class='order-quantity'></input></p> 
        <button class="btn btn-primary delete-basket-product">Delete</button>
        </div>
      </div>
      <div class='product-price'>
        <p><b>&euro;<span class="unit-price">{{price}}</span></b></p>
        <p>Subtotal <span class='items-count'></span>:
        <b >&euro;<span class='subtotal-price'></span></b></p>
      </div>
    </div>
  {{/each}}
{{/if}}
<button onclick="WAD.openPurchaseModal()" class="btn btn-primary buy-now">Buy Now</button>
<div id="purchase-summary-modal">
  <div id="purchase-summary-container">
    <button onclick="WAD.closePurchaseModal()" class="close-purchase-modal"></button>
    <div id="purchase-summary-container"></div>
    <button class="btn btn-primary pay">Pay</button>
  </div>
</div>