<div class='plant-details-view'>
  {{#if data}}
    <h1 class='mb-4'>{{data.product.name}}</h1>
    <div class='details-container row gap-4 justify-content-between'>
      <img
        class='col-sm-12 col-md-12 col-lg-12 col-xl-3'
        src='{{data.product.image_url}}'
        alt=''
      />
      <div class='details-overview col-sm-12 col-md-5 col-lg-5 col-xl-3'>
        <h4>Description:</h4>
        <p>{{data.product.description}}</p>
        <p>Price: <b>&euro;{{data.product.price}}</b></p>
        <p>Quantitiy in stock:
          <span>{{data.product.quantity_in_stock}}</span></p>
        <p>
          <span class='rating-stars-{{data.product.stars}}'></span>
          {{data.product.rating}}
        </p>
      </div>
      <div class='details-granular col-sm-12 col-md-5 col-lg-5 col-xl-3'>
        <p>Category: {{data.product.category}}</p>
        <p>Height: {{data.product.height}}</p>
        <p>Light requirements: {{data.product.light_requirements}}</p>
        <p>Care difficulty: {{data.product.care_difficulty}}</p>
        <p>Indoor:
          <span class='boolean-value'>{{data.product.indoor}}</span></p>
        <p>Outdoor:
          <span class='boolean-value'>{{data.product.outdoor}}</span></p>
        <p>Air purifying:
          <span class='boolean-value'>{{data.product.air_purifying}}</span></p>
        <p>Pet friendly:
          <span class='boolean-value'>{{data.product.pet_friendly}}</span></p>
      </div>
    </div>
    <h1 class='mb-4 mt-4'>Reviews</h1>
    <div class='reviews-container row gap-4'>
      {{#if data.reviews}}
        {{#each data.reviews}}
          <div class='customer-review col-sm-12 col-md-6 col-lg-4 col-xl-3'>
            <h6>{{username}}</h6>
            <div class='rating'>{{rating}}</div>
            <p>{{comment}}</p>
          </div>
        {{/each}}
      {{/if}}
    </div>
    <h1 class='mb-4 mt-4'>Similar Products</h1>
    <div class='similar-container row gap-4 justify-content-around'>
      {{#if data.similar}}
        {{#each data.similar}}
          <div class='similar-product col-sm-12 col-md-6 col-lg-4 col-xl-3'>
            <a href='/plants/{{product_id}}'>
              <img src='{{image_url}}' alt='' />
            </a>
            <h4 class='product-name' title='{{name}}'>{{name}}</h4>
            <p>
              <span class='rating-stars-{{stars}}'></span>
              {{rating}}
            </p>
            <p><b>&euro;{{price}}</b></p>
          </div>
        {{/each}}
      {{/if}}
    </div>
  {{/if}}
</div>